#========================================================================
# editorconfig.org
#========================================================================

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true


space_in_parens = false
space_in_brackets = true
space_in_braces = true
space_in_call = false
space_before_blocks = false
space_around_operators = true
space_after_type_colon = keep

blank_lines_root = 3
blank_lines_block = 2
blank_lines_keep = false

brace_style = same_line
quote_style = keep
trailing_comma = true
reduce_semicolon = true
compact_mode = true
align_imports = true
align_comments = true
align_enum = true


[*.py]
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.{py,yml}]
indent_style = space
